@use "../../styles/variables.scss" as *;

.navBarContainer {
    display: flex;
    gap: 15px;
    font-family: 'Franklin Gothic Medium';
    text-decoration: none;
    justify-self: center;
}

.link {
    text-decoration: none;
}

.isActive {
    color: $secondry;
    font-size: 18px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: white;
        height: 2px;
        border-radius: 2px;
        animation: isActiveAnimation 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite forwards;
        
    }
}

.isNotActive {
    color: #ccc;
}

@keyframes isActiveAnimation {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: $secondry;
    }
    100% {
        background-color: transparent;
    }
}