@import "../../styles/variables.scss";

.button {
    border-radius: 2px;
    font-size: $font-size-base;
    border: none;
    cursor: pointer;
    justify-self: right;
    grid-column: 3;

    &:hover {
        opacity: 0.8;
    }
}

.primary {
    @extend .button;
    background-color: $secondry;
    padding: 5px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}